.header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 14.45px 2.55px rgba(0, 0, 2, 0.2);
    position: absolute;
    z-index: 1;
    color: $color-white;
    top: 0;
    left: 0;
    .hamburger {
        display: none;
    }
    @include desktop {
        padding: 0 15px;
        box-sizing: border-box;
        .button {
            display: none;
        }
    }
    @include tablet {
        .hamburger {
            display: block;
        }
    }
    &__wrapper {
        display: flex;
        margin: 0 auto;
        max-width: 1140px;
        width: 100%;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }
    &__logo {
        width: 165px;
        height: 50px;
        display: block;
        font-size: 0;
        .header--fixed & {
            display: none;
        }
    }
    &__logo-super {
        display: none;
        width: 60px;
        height: 60px;
        background: $color-green;
        .header--fixed & {
            display: block;
        }
    }
    &--fixed {
        position: fixed;
        background: $color-white;
        color: $color-black;
        z-index: 10;
        transition: color 0.5s linear;
        .header__wrapper {
            height: 60px;
        }
        .header-nav__item--dropdown .header-nav__link:after {
            border-color: #222 transparent transparent;
            @include tablet {
                border-color: #fff transparent transparent;
            }
        }
    }

}
