.header-nav {
    display: flex;
    justify-content: space-between;
    width: 665px;
    &__link {
        position: relative;
        color: $color-white;
        font-family:  $font_ph_bold;
        font-size: 18px;
        line-height: 23px;
        &:hover::before {
            content: '';
            position: absolute;
            bottom: -5px;
            height: 3px;
            width: 100%;
            background: $color-green;
        }
    }
}