.header-nav {
    display: flex;
    justify-content: space-between;
    width: 665px;
    &__link {
        position: relative;
        color: $color-white;
        font-family:  $font_ph_bold;
        font-size: 18px;
        line-height: 23px;
        &:before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%) translateZ(0);
            height: 3px;
            width: 0;
            background: $color-green;
            transition: all 0.3s linear;
        }
        &:hover::before {
            width: 100%;
            transition: all 0.2s linear;
        }
        .header--fixed & {
            color: $color-black;
        }
    }

}