.our-services {
    width: 100%;
    padding: 79px 0 38px;
    &_wrapper {
        max-width: 1140px;
        width: 100%;
        .try-block_title {
            margin-top: 30px;
        }
    }
    &_list {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &:after {
            display: none;
        }
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 67px;
        }
        @include phone {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &_item {
        width: 300px;
        &:nth-child(3) {
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                height: 2px;
                background: $color-green;
                width: 259px;
                top: 30%;
                left: 52px;
                transform: translate(-70%,0);
            }
            &:after {
                left: -326px;
                transform: translate(-71%,0);
            }
        }
        @include width-1140 {
            &:before,
            &:after {
                display: none;
            }
        }
    }
    &_title {
        color: $color-white;
    }
    &_image-wrapper {
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid $color-green;
        margin-bottom: 12px;
    }
    &_image {
        fill: $color-green;
        width: 60px;
    }
    &_text {
        color: $color-white;
        font: 28px/35px $font_ph;
    }
}