.partners {
    background: #ebebeb;
    padding: 25px 0;
    width: 100%;
    position: relative;
    margin-bottom: 65px;
    &_wrapper {
        max-width: 1140px;
        margin: 0 auto;

    }
    &_link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_list {
        padding: 0 25px;
        box-sizing: border-box;
    }
    .owl-carousel {
        .owl-stage-outer {
            z-index: 1;
        }
        .owl-item {
            img {
                width: auto;
            }
        }
        .owl-nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            z-index: 0;
            .owl-next {
                position: relative;
                background: url(../images/arrow.png) no-repeat;
                width: 13px;
                height: 20px;
                text-indent: 0;
                font-size: 0;
                &:hover {
                    opacity: 0.8;
                }
            }
            .owl-prev {
                width: 13px;
                height: 20px;
                text-indent: 0;
                font-size: 0;
                background: url(../images/arrow.png) no-repeat;
                transform: rotate(180deg);
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .disabled {
            display: none;
        }
    }
}