.partners {
    background: #ebebeb;
    padding: 20px 0;
    width: 100%;
    &__list {
        display: flex;
        align-items: center;

    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}