.partners {
    background: #ebebeb;
    padding: 25px 0;
    width: 100%;
    margin-bottom: 65px;
    &__wrapper {
        max-width: 1140px;
    }
    &__list {
        //display: flex;
        //align-items: center;

    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}