.solutions-banner {
    background: $color-drk-blue;
    padding-top: 90px;
    min-height: 100vh;
    height: auto;
    .main-banner_header {
        font-size: 3vw;
        color: $color-white;
        @include tablet {
            font-size: 5vw;
        }
        @include phone {
            font-size: 9vw;
        }
    }
    .main-banner_paragraph {
        font-size: 24px;
        text-align: left;
        &:after {
            display: none;
        }
        @include tablet {
            font-size: 16px;
            line-height: 21px;
        }
    }
    &_inner-holder {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include phone {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

    }
    &_inner-wrapper {
        padding-top: 40px;
    }
    &_image {
        max-width: 520px;
        width: 100%;
        height: 309px;
        display: block;
        position: relative;
        flex-shrink: 0;
        margin-right: 40px;
        &:after {
            content: '';
            position: absolute;
            left:50%;
            top:50%;
            width: 35vw;
            height: 33vw;
            border-radius: 50%;
            background: rgba(255,255,255,0.2);
            transform: translate(-50%,-50%);
            z-index: -1;
        }
        @include width-1140 {
            height: auto;
            max-width: 320px;
            &:after {
                display: none;
            }
        }
        @include phone {
            margin: 0 0 20px;
        }

    }
}