.try-block {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/main-banner-bg.jpg) repeat-y 0px 45%;
    padding: 38px 0 30px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, #78be30 0%,#7aa980 50%,#7d94d0 100%);
    }
    &__title {
        font: 52px/65px $font_ph;
        text-transform: uppercase;
        margin-bottom: 7px;
        color: $color-white;
    }
}